.form-new-item__close-icon {
  width: 32px;
  height: 32px;
  top: calc(-8px - 32px);
  right: calc(-8px - 32px);;
  position: absolute;
  opacity: 1;
  background-image: url(../../../images/Close_Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  padding: 0;
}

.form-new-item__close-icon:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 879.98px) {
  .form-new-item__close-icon {
    width: 20px;
    height: 20px;
    top: calc(-16px - 40px/2);
    right: 0px;
  } 
}