.profile__name {
  max-width: 350px;
  font-size: 42px;
  line-height: 45px;
  font-weight: 500;
  align-self: end;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 320px) and (max-width: 879.98px) {
  .profile__name {
    max-width: 238px;
    font-size: 27px;
    line-height: 32.68px;
    justify-self: end;
  }
}