.body {
  max-width: 100%;
  margin: 0px auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  position: relative;
}

@media screen and (min-width: 880px) {
  .body {
    max-width: 880px;
  }
}

@media screen and (min-width: 320px) and (max-width: 879.98px) {
  .body {
    max-width: 320px;
  }
}
