.form-edit-profile {
    width: 358px;
    margin: 34px auto 36.51px;
  }

@media screen and (min-width: 320px) and (max-width: 879.98px) {
  .form-edit-profile {
    max-width: 238px;
    margin: 25px auto;
  } 
}