.card__like-checkbox_invisible {
  position: absolute;
  width: 1px; 
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

input[type="checkbox"] + span {
  position: absolute;
  background-image: url(../../../../images/Like-disabled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

input[type="checkbox"]:checked + span {
  position: absolute;
  background-image: url(../../../../images/Like-active.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="checkbox"]:hover + span {
  position: absolute;
  background-image: url(../../../../images/Like-disabled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

