.popup__img-container { 
  max-width: 100%; 
  max-height: 100%; 
  margin: 90px auto; 
  background-color: transparent; 
  border: 0; 
  position: relative; 
} 

 

@media screen and (min-width: 320px) and (max-width: 879.98px) { 
  .popup__img-container { 
    margin: 136px auto 133px; 
  }  
} 